.fbColumnOne,
.fbColumnTwo,
.fbColumnThree,
.fbColumnFour,
.crColumnOne,
.crColumnTwo,
.crColumnThree,
.crColumnFour,
.mlColumnOne,
.mlColumnTwo,
.mlColumnThree,
.mlColumnFour,
.mlColumnFive {
  display: flex;
  justify-content: center;
  cursor: inherit;
}

/* First Blood Time Styling */
.fbColumnOne {
  width: 7rem;
}
.fbColumnTwo {
  width: 12rem;
}
.fbColumnThree {
  width: 10rem;
}
.fbColumnFour {
  width: 13rem;
}

/* Cluster Region Styling */
.crColumnOne {
  width: 7rem;
}
.crColumnTwo {
  width: 12rem;
}
.crColumnThree {
  width: 10rem;
}
.crColumnFour {
  width: 13rem;
}

/* Most Liked Matches Styling */
.mlColumnOne {
  width: 7rem;
}
.mlColumnTwo {
  width: 11rem;
}
.mlColumnThree {
  width: 8rem;
}
.mlColumnFour {
  width: 8rem;
}
.mlColumnFive {
  width: 8rem;
}

.nameColumn {
  justify-content: left;
}

.revealForm {
  max-height: 42rem;
  margin: 0 0 0.5rem 0;
  flex-direction: row;
  overflow-y: visible;
  transition: 0.3s ease-out;
}
.revealContent {
  opacity: 100;
  transition: 0.2s ease;
  transition-delay: 0.13s;
}

/* For responsive layouts */
@media (max-width: 480px) {
  .fbColumnOne {
    width: 7rem;
  }
  .fbColumnTwo {
    width: 12rem;
  }
  .fbColumnThree {
    width: 11rem;
  }
  .fbColumnFour {
    width: 9rem;
  }

  .crColumnOne {
    width: 7rem;
  }
  .crColumnTwo {
    width: 12rem;
  }
  .crColumnThree {
    width: 9rem;
  }
  .crColumnFour {
    width: 11rem;
  }

  .mlColumnOne {
    width: 7rem;
  }
  .mlColumnTwo {
    width: 8rem;
  }
  .mlColumnThree {
    width: 8rem;
  }
  .mlColumnFour {
    width: 8rem;
  }
  .mlColumnFive {
    width: 8rem;
  }
}